/* General */

* {
  font-family: "Lato",sans-serif;
}

body {
  text-align: center;
}


/* Header */

.header {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 4px solid #bababa;
  margin: 20px 0 20px;
}

.logo {
  padding-top: 40px;
  width: 50%;
}

.logo img {
  max-width: 70px;
}

.header-text {
  text-transform: uppercase;
  color: #2d3c49;
  width: 50%
}


/* Main */

main img {
  width: 100%;
}


/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer article {
  display: flex;
  flex-wrap: nowrap;

}
.footer h2 {
  font-size: 2em;
  font-weight: 400;
  color: #7d97ad;
  text-align: left;
}
.footer a {
  color: #2d3c49;
  text-decoration: none;
}


.article img {
  width: 320px;
}

@media (max-width: 767px) {

  .header {
    flex-wrap: wrap;
  }

  .header-text, .logo{
    text-align: center;
    width: 100%;
  }

  .header-text h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
  }

  .header-text h3 {
    font-weight: 400;
    margin-top: 0.5em;
  }

  .footer article, a {
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

  .footer h2 {
    text-align: center;
    width: 100%;
  }

}

@media (min-width: 768px) {

  .header-text {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

  .header-text h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
  }

  .header-text h3 {
    font-weight: 400;
    margin-top: 0.5em;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer article {
    text-align: center;
    font-weight: 400;
    flex-wrap: nowrap;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer img {
    width: 90%;
  }

  .footer h2 {
    text-align: left;
    width: 100%;
  }
}